body > nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding: 0;
  margin: var(--margin);
  justify-content: center;
  gap: 1rem;
}

[aria-current=page] {
  font-weight: 700;
}

iframe {
	background: white;
	display: block;
	width: 100%;
	height: max(10rem, 20vh);
	margin: 1em 0;
}
